body {
    animation: change-color 4s infinite alternate;
}

@keyframes change-color {
    0% {background-color: snow;}
    50% {background-color: lightyellow;}
    100% {background-color: antiquewhite;}
}

.title {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto;
    text-align: center;
    animation: skew 2s infinite alternate;
}

@keyframes skew {
    0% {transform: skew(0deg, 0deg);}
    100% {transform: skew(30deg, 20deg);}
}

.square {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 75px auto;
    transition: all 1s ease;

}

.square:hover {
    background-color: lightskyblue;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
    margin: 75px auto;

}

.button {
    background-color: lavender;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block; 
    transition: all 0.5s ease;

}

.button:hover {
    background-color:pink;
    color: purple;
    transform: scale(1.1);
}

.loading {
    background-color: lightcoral;
    animation: stretch 2s;
    width: 80vw;
}

@keyframes stretch {
    0% {width: 100px;}
    100% {width: 80vw;}
}
